In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("C:\\Users\\GOURAV NEGI\\Downloads\\datasets\\diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [12]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [14]:
df.shape

(768, 9)

In [15]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [40]:
df["Pregnancies"].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [28]:
df.groupby(["Pregnancies"])["Glucose"].value_counts()

Pregnancies  Glucose
0            102        5
             101        4
             105        4
             137        4
             93         3
                       ..
13           158        1
14           100        1
             175        1
15           136        1
17           163        1
Name: Glucose, Length: 536, dtype: int64

In [31]:
df[df["Pregnancies"]==1][['Glucose','DiabetesPedigreeFunction','BloodPressure','SkinThickness','Age','Insulin','BMI','Outcome']].agg(["min","max","mean"]).T

                             min      max        mean
Glucose                    0.000  199.000  112.748148
DiabetesPedigreeFunction   0.088    1.394    0.486496
BloodPressure              0.000  122.000   67.792593
SkinThickness              0.000   52.000   24.437037
Age                       21.000   62.000   27.370370
Insulin                    0.000  846.000   98.674074
BMI                       18.200   55.000   31.372593
Outcome                    0.000    1.000    0.214815

In [26]:
df.groupby(["Pregnancies"])["Glucose"].value_counts()/df.groupby(["Pregnancies"])["Glucose"].count()*100

Pregnancies  Glucose
0            102          4.504505
             101          3.603604
             105          3.603604
             137          3.603604
             93           2.702703
                           ...
13           158         10.000000
14           100         50.000000
             175         50.000000
15           136        100.000000
17           163        100.000000
Name: Glucose, Length: 536, dtype: float64

In [29]:
df.groupby(["Pregnancies"])["BloodPressure"].value_counts()

Pregnancies  BloodPressure
0            0                10
             64               10
             68                8
             76                8
             80                7
                              ..
13           114               1
14           62                1
             78                1
15           70                1
17           72                1
Name: BloodPressure, Length: 283, dtype: int64

In [30]:
df.groupby(["Pregnancies"])["SkinThickness"].value_counts()

Pregnancies  SkinThickness
0            0                32
             27                5
             25                4
             26                4
             32                4
                              ..
13           54                1
14           25                1
             30                1
15           32                1
17           41                1
Name: SkinThickness, Length: 297, dtype: int64

In [31]:
df.groupby(["Pregnancies"])["Insulin"].value_counts()

Pregnancies  Insulin
0            0          54
             92          3
             105         3
             210         3
             36          2
                        ..
13           140         1
14           0           1
             184         1
15           110         1
17           114         1
Name: Insulin, Length: 348, dtype: int64

In [32]:
df.groupby(["Pregnancies"])["BMI"].value_counts()

Pregnancies  BMI
0            32.4    4
             0.0     3
             34.3    3
             36.3    3
             21.9    2
                    ..
13           43.4    1
14           33.6    1
             36.6    1
15           37.1    1
17           40.9    1
Name: BMI, Length: 629, dtype: int64

In [33]:
df.groupby(["Pregnancies"])["DiabetesPedigreeFunction"].value_counts()

Pregnancies  DiabetesPedigreeFunction
0            0.197                       2
             0.238                       2
             0.254                       2
             0.259                       2
             0.270                       2
                                        ..
13           1.174                       1
14           0.212                       1
             0.412                       1
15           0.153                       1
17           0.817                       1
Name: DiabetesPedigreeFunction, Length: 733, dtype: int64

In [34]:
df.groupby(["Pregnancies"])["Age"].value_counts()

Pregnancies  Age
0            21     21
             22     17
             25     13
             24      9
             26      9
                    ..
13           57      1
14           38      1
             46      1
15           43      1
17           47      1
Name: Age, Length: 292, dtype: int64

In [35]:
df.groupby(["Pregnancies"])["Outcome"].value_counts()

Pregnancies  Outcome
0            0           73
             1           38
1            0          106
             1           29
2            0           84
             1           19
3            0           48
             1           27
4            0           45
             1           23
5            0           36
             1           21
6            0           34
             1           16
7            1           25
             0           20
8            1           22
             0           16
9            1           18
             0           10
10           0           14
             1           10
11           1            7
             0            4
12           0            5
             1            4
13           0            5
             1            5
14           1            2
15           1            1
17           1            1
Name: Outcome, dtype: int64

In [42]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [11]:
len(df[(df["Pregnancies"]==1) & (df["Glucose"]==1)])

0

In [44]:
len(df[(df["Pregnancies"]==1) & (df["BloodPressure"]==1)])

0

In [4]:
len(df[(df["Pregnancies"]==1) & (df["SkinThickness"]==1)])

0

In [5]:
len(df[(df["Pregnancies"]==1) & (df["Insulin"]==1)])

0

In [6]:
len(df[(df["Pregnancies"]==1) & (df["BMI"]==1)])

0

In [7]:
len(df[(df["Pregnancies"]==1) & (df["DiabetesPedigreeFunction"]==1)])

0

In [8]:
len(df[(df["Pregnancies"]==1) & (df["Age"]==1)])

0

In [9]:
len(df[(df["Pregnancies"]==1) & (df["Outcome"]==1)])

29

In [34]:
a = (df[df["Pregnancies"]==1]).shape
a

(135, 9)

In [21]:
df["Age"].unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [43]:
df["Age"].count()

768

In [22]:
df["BMI"].unique()

array([33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31. , 35.3, 30.5,  0. , 37.6,
       38. , 27.1, 30.1, 25.8, 30. , 45.8, 29.6, 43.3, 34.6, 39.3, 35.4,
       39.8, 29. , 36.6, 31.1, 39.4, 23.2, 22.2, 34.1, 36. , 31.6, 24.8,
       19.9, 27.6, 24. , 33.2, 32.9, 38.2, 37.1, 34. , 40.2, 22.7, 45.4,
       27.4, 42. , 29.7, 28. , 39.1, 19.4, 24.2, 24.4, 33.7, 34.7, 23. ,
       37.7, 46.8, 40.5, 41.5, 25. , 25.4, 32.8, 32.5, 42.7, 19.6, 28.9,
       28.6, 43.4, 35.1, 32. , 24.7, 32.6, 43.2, 22.4, 29.3, 24.6, 48.8,
       32.4, 38.5, 26.5, 19.1, 46.7, 23.8, 33.9, 20.4, 28.7, 49.7, 39. ,
       26.1, 22.5, 39.6, 29.5, 34.3, 37.4, 33.3, 31.2, 28.2, 53.2, 34.2,
       26.8, 55. , 42.9, 34.5, 27.9, 38.3, 21.1, 33.8, 30.8, 36.9, 39.5,
       27.3, 21.9, 40.6, 47.9, 50. , 25.2, 40.9, 37.2, 44.2, 29.9, 31.9,
       28.4, 43.5, 32.7, 67.1, 45. , 34.9, 27.7, 35.9, 22.6, 33.1, 30.4,
       52.3, 24.3, 22.9, 34.8, 30.9, 40.1, 23.9, 37.5, 35.5, 42.8, 42.6,
       41.8, 35.8, 37.8, 28.8, 23.6, 35.7, 36.7, 45.2, 44. , 46.2, 35. ,
       43.6, 44.1, 18.4, 29.2, 25.9, 32.1, 36.3, 40. , 25.1, 27.5, 45.6,
       27.8, 24.9, 25.3, 37.9, 27. , 26. , 38.7, 20.8, 36.1, 30.7, 32.3,
       52.9, 21. , 39.7, 25.5, 26.2, 19.3, 38.1, 23.5, 45.5, 23.1, 39.9,
       36.8, 21.8, 41. , 42.2, 34.4, 27.2, 36.5, 29.8, 39.2, 38.4, 36.2,
       48.3, 20. , 22.3, 45.7, 23.7, 22.1, 42.1, 42.4, 18.2, 26.4, 45.3,
       37. , 24.5, 32.2, 59.4, 21.2, 26.7, 30.2, 46.1, 41.3, 38.8, 35.2,
       42.3, 40.7, 46.5, 33.5, 37.3, 30.3, 26.3, 21.7, 36.4, 28.5, 26.9,
       38.6, 31.3, 19.5, 20.1, 40.8, 23.4, 28.3, 38.9, 57.3, 35.6, 49.6,
       44.6, 24.1, 44.5, 41.2, 49.3, 46.3])

In [23]:
df[(df["BMI"]>30)]["Pregnancies"].count()

465

In [35]:
df[(df["BMI"]>40)]["Pregnancies"].count()

96

In [46]:
df["Age"].min()

21

In [45]:
df["Age"].max()

81

In [24]:
df[(df["BMI"]>40)]["Pregnancies"].value_counts()

0     33
1     19
2      7
5      6
4      5
7      4
11     4
13     3
3      3
8      3
6      3
9      2
10     2
17     1
12     1
Name: Pregnancies, dtype: int64

In [49]:
df[(df["BMI"]>25)]["Pregnancies"].value_counts()

1     107
0      93
2      83
4      61
3      60
5      52
7      42
6      39
8      31
9      24
10     21
11     11
13      9
12      8
14      2
15      1
17      1
Name: Pregnancies, dtype: int64