In [ ]:
#while loops:
for loops = range,string,list,tuple,dct.
#while....condition based

In [5]:
i = 0 
while i<5 :
    print(i)
    i=i+1

0
1
2
3
4

In [14]:
i=0
while i<6 :
    print(i)
    i=i+1

0
1
2
3
4
5

In [6]:
i = 0 
while i<5 :
    i=i+1
    print(i)

1
2
3
4
5

In [18]:
i = 0
while i<5 :
    i=i+1
    print(i)

1
2
3
4
5

In [40]:
n = int(input("enter the number : "))
i = 10 
while i>0 :
    print(n*i)
    i=i-1

enter the number : 10
100
90
80
70
60
50
40
30
20
10

In [43]:
for i in range(6,1,-1):
    j=10
    while j>0:
        print(i*j)
        j=j-1
    print("********")

60
54
48
42
36
30
24
18
12
6
********
50
45
40
35
30
25
20
15
10
5
********
40
36
32
28
24
20
16
12
8
4
********
30
27
24
21
18
15
12
9
6
3
********
20
18
16
14
12
10
8
6
4
2
********

In [53]:
for i in range (2,5):
    for j in range (10,0,-1):
        print(i*j)
    print("****")

20
18
16
14
12
10
8
6
4
2
****
30
27
24
21
18
15
12
9
6
3
****
40
36
32
28
24
20
16
12
8
4
****

In [44]:
i = 6
while i>2:
    i=i-1
    j=10
    while j>0:
        print(i*j)
        j=j-1
    print("******")

50
45
40
35
30
25
20
15
10
5
******
40
36
32
28
24
20
16
12
8
4
******
30
27
24
21
18
15
12
9
6
3
******
20
18
16
14
12
10
8
6
4
2
******

In [ ]:
#jumping statement
1)break
2)continue
3)pass

In [45]:
s = "Madrid"
for i in s:
    if i=="r":
        break
    else:
        print(i)

M
a
d

In [54]:
a = "shinchan"
for i in a :
    if i=="c":
        break
    else:
        print(i)

s
h
i
n

In [55]:
a = "doraemon"
for i in a :
    if i=="o":
        break
    else:
        print(i)

d

In [56]:
a = "noita"
for i in a :
    if i=="t":
        break
    else:
        print(i)

n
o
i

In [57]:
a = "shijuka"
for i in a :
    if i=="u":
        break
    else:
        print(i)

s
h
i
j

In [58]:
a = "sunieo"
for i in a :
    if i=="e":
        break
    else:
        print(i)

s
u
n
i

In [59]:
d = "geyan"
for i in d :
    if i=="y":
        break
    else:
        print(i)

g
e

In [46]:
s = "sumit"
for i in s :
    if i=="i":
        break
    else:
        print(i)

s
u
m

In [ ]:
wap to print the square of number from 1-10 except for 3 and 9

In [59]:
for i in range(1,11):
    if i==3 or i==9:
        continue
    else:
        print(i**2)

1
4
16
25
36
49
64
100

In [1]:
for i in range(1,11):
    if i==3 and i==9 :
        print(i)
    else:
        print(i**2)

1
4
9
16
25
36
49
64
81
100

In [64]:
i=0
while i<10:
    i=i+1
    if i==3 or i==9:
        continue
    print(i**2)

1
4
16
25
36
49
64
100

In [ ]:
using while i have to print which no.s are even and which are odd in the range of 10 to 30

In [70]:
i = 9 
while i<20:
    i=i+1
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [3]:
i = 20
while i<30 :
    i = i+1
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even