In [2]:
rain_type = input("enter the type of rain heavy or slow : ")
unb = input("yes or no : ")
wd = input("yes or no : ")
if wd=="yes":
    if rain_type=="heavy":
        if umb=="yes":
            print("safe")
        else:
            print("not safe")
    elif rain_type=="slow":
            hood = input("yes or no : ")
            if hood=="yes":
                print("safe")
else:
    print("stay back and enjoy the rain")

enter the type of rain heavy or slow : slow
yes or no : yes
yes or no : no
stay back and enjoy the rain

In [2]:
rain_type = input("enter the type of rain heavy or slow :")
unb = input("yes or no :")
wd = input("yes or no :")
if wd=="yes":
    if rain_type=="heavy":
        if umb=="yes":
            print("safe")
        else:
            print("not safe")
    elif rain_type=="slow":
            hood = input("yes or no :")
            if hood =="yes":
                 print("safe")
else:
    print("stay back and enjoy the rain ")

enter the type of rain heavy or slow :slow
yes or no :yes
yes or no :no
stay back and enjoy the rain

In [ ]:
w = float(input("enter the weight :"))
h = float(input("enter the height :"))
BMI = w/h**2
if BMI<=18.5:
    print("underweight" , BMI, "please add carts ")

In [ ]:
no_cr = int(input("enter the number of criminal records : "))
past_min = input("yes or no : ")
age = int(input("enter the age : "))
if no_cr==0 and past_min=="yes" and age>45:
    print("he is eligible ")

In [ ]:
wap to check the students eligibility for sports captain :
    1) both males and femails would be considers if they fulfill the following conditions

In [ ]:
1) he or she should be student of class 9 and above
2) atleast 2 achievements in the field of sports .
3) have grade in last class greater than B+.
4) should have exp of leading a team of students 
5) he/she should be staying somewhere near school only , and should check on condition of kits , playgound
and decide teams for various other sports.

In [13]:
s = int(input("enter the eligible student for sports captain :"))
s = input("yes or no : ")
class==int(input("he or she are , class "9" and above :
        print=input("atleast 2 achievement in the field of sports ")
grade==input("grade in the last class is greater than B+")                 
exp==input("should have exp of leading a team of students :")
          else:
                 print("he/she should be staying somewhere near school only ")

SyntaxError: invalid syntax (Temp/ipykernel_9424/344552415.py, line 3)

In [15]:
s = input("enter the students are boys and girls : ")
c = input("enter the class ")
a = input("enter the achivements in the fild of sports ")
g = input("enter the gtade in the last class ")
l = input("enter the leading a team of students ")
e = input("yes or no ")
stay = input("yes or no : ")
check = input("yes or no : ")
if c<=9 and a>=2 and (g=="a" or g=="a+") and exp=="yes" and stay=="yes" and check=="yes" :
    print("eligible")
else:
        print("not eligible")

enter the students are boys and girls : boy
enter the class 10
enter the achivements in the fild of sports 8
enter the gtade in the last class a
enter the leading a team of students boy
yes or no yes
yes or no : yes
yes or no : yes

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
#loops :
for and while

In [ ]:
for loop :
    1) start and stop ,swap

In [ ]:
for i in range()

In [ ]:
for i in range()

In [25]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [26]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [27]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [40]:
n = int(input("enter the number :"))
for i in range (1,11):
    print(n*i)

enter the number :3
3
6
9
12
15
18
21
24
27
30

In [5]:
n = int(input("enter the nunber :"))
for i in range(1,11):
    print(n*i)

enter the nunber :5
5
10
15
20
25
30
35
40
45
50

In [6]:
n = int(input("enter the number :"))
for i in range(1,11):
    print(n*i)

enter the number :15
15
30
45
60
75
90
105
120
135
150

In [7]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
n = int(input())
for i in range(1,11):
    print(n*1,end="")

2
2222222222

In [ ]:
n = table revers order 
2) sq of no s from 1 to 20

In [ ]:
#print table in reverse order

In [6]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(n*i)

enter the number : 15
150
135
120
105
90
75
60
45
30
15

In [8]:
n = int(input("enter the number :"))
for i in range(10,0,-1):
    print(n*i)

enter the number :12
120
108
96
84
72
60
48
36
24
12

In [ ]:
#print square of number from 1 to 20

In [9]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [7]:
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [2]:
for i in range (1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [3]:
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [4]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [6]:
for i in range(1,16):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

In [7]:
for i in range(1,10):
    print(i**2)

1
4
9
16
25
36
49
64
81

In [9]:
for i in range(1,9):
    print(i**2)

1
4
9
16
25
36
49
64

In [14]:
n = int(input("enter the number :"))
for i in range(1,11):
    print(n*i)

enter the number :5
5
10
15
20
25
30
35
40
45
50

In [16]:
n=int(input("enter the number :"))
for i in range(1,11):
    print(n*i)

enter the number :5
5
10
15
20
25
30
35
40
45
50

In [18]:
n = int(input("enter the number :"))
for i in range(1,11):
    print(i*n)

enter the number :10
10
20
30
40
50
60
70
80
90
100

In [19]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(i*n)

enter the number : 12
120
108
96
84
72
60
48
36
24
12

In [20]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(n*i)

enter the number : 15
150
135
120
105
90
75
60
45
30
15

In [21]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(i*n)

enter the number : 2
20
18
16
14
12
10
8
6
4
2

In [22]:
for i in range (1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [23]:
n = int(input("enter the nuber : "))
for i in range(10,0,-1):
    print(i*n)

enter the nuber : 2
20
18
16
14
12
10
8
6
4
2

In [24]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(i*n)

enter the number : 5
50
45
40
35
30
25
20
15
10
5

In [12]:
n = int(input("enter the number : "))
for i in range(1,21):
    print(i)

enter the number : 2
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [17]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(n*i)

enter the number : 20
200
180
160
140
120
100
80
60
40
20

In [24]:
n=int(input("enter the number:"))
for i in range(10,0,-1):
    print(n*i)

enter the number:2
20
18
16
14
12
10
8
6
4
2

In [26]:
n=int(input("enter the number:"))
for i in range(10,0,-1):
    print(n*i)

enter the number:10
100
90
80
70
60
50
40
30
20
10

In [46]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(n*i)

enter the number : 2
20
18
16
14
12
10
8
6
4
2

In [45]:
n = int(input("enter the number : "))
for i in range (10 , 0 , -1):
    print(n*i)

enter the number : 2
20
18
16
14
12
10
8
6
4
2

In [44]:
n = int(input("enter the number : "))
for i in  range(10,0,-1):
    print(n*i)

enter the number : 2
20
18
16
14
12
10
8
6
4
2

In [43]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(n*i)

enter the number : 2
20
18
16
14
12
10
8
6
4
2

In [50]:
n = int(input("enter the number : "))
for i in range(1,21):
    print(i)

enter the number : 1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [59]:
n = int(input("enter the number : "))
for i in range(1,11):
    print(i)

enter the number : 1
1
2
3
4
5
6
7
8
9
10

In [57]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [62]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [29]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [64]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [65]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [68]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [31]:
n = int(input("enter the nunber : "))
for i in range(10,0,-1):
    print(i)

enter the nunber : 11
10
9
8
7
6
5
4
3
2
1

In [69]:
n = int(input("enter the number : "))
for i in range(10,0,-1):
    print(n*i)

enter the number : 1
10
9
8
7
6
5
4
3
2
1

In [70]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [76]:
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [77]:
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [34]:
for  i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [36]:
for  i in range(1,51):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [78]:
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [37]:
for  i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [39]:
n = int(input("enter the nuber :"))
for  i in range(10,0,-1):
    print(i)

enter the nuber :31
10
9
8
7
6
5
4
3
2
1

In [3]:
n = int(input("enter the number :"))
for i in range(10,0,-1):
    print(n**i)

enter the number :1
1
1
1
1
1
1
1
1
1
1

In [4]:
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [10]:
for i in range(1,21):
    if i%2==0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125
36
343
64
729
100
1331
144
2197
196
3375
256
4913
324
6859
400

In [42]:
for  i in range(1,21):
    if i%2==0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125
36
343
64
729
100
1331
144
2197
196
3375
256
4913
324
6859
400

In [ ]:
wap to print all the factors of a number entered by the user

In [11]:
n = 10
n = int(input("enter the number : "))
for i in range(1,11):
    if 
    print(n**i)

enter the number : 10
10
100
1000
10000
100000
1000000
10000000
100000000
1000000000
10000000000

In [ ]:
# this is the loop:

In [16]:
n = 10 
n = int(input("enter the number : "))
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter the number : 10
1
2
5
10

In [45]:
n = 10
n = int(input("enter the number : "))
for  i in range(1,n+1):
    if n%i==0:
        print(i)

enter the number : 20
1
2
4
5
10
20

In [48]:
n = 10
n = int(input("enter the number : "))
for i in range(1,n-1):
    if n%i==0:
        print(i)

enter the number : 20
1
2
4
5
10

In [ ]:
(n-1)(n+1)

In [ ]:
this is the loop :

In [ ]:
#list :

In [11]:
l = [1,2,3,4,5]
for i in l :
    print(i)

1
2
3
4
5

In [ ]:
l = []
for i in l :
    print()

In [ ]:
l = []
for i in l :
    print()

In [17]:
l = [1,2,3,4]
for i in l :
    print(i)

1
2
3
4

In [49]:
l = [1,2,3,4]
for i in l :
    print(i)

1
2
3
4

In [50]:
l = [1,3,4,44,24,24,]
for  i in l :
    print(i)

1
3
4
44
24
24

In [51]:
l = [23456,235,34,63,54]
for i in l:
    print(i)

23456
235
34
63
54

In [53]:
l = [2,2,24,24]
for  i in l:
    print(i)

2
2
24
24

In [12]:
l = []
c = 0
for i in l:
    c = c+i
print(c)

0

In [13]:
l = [2,2,2,2,2,2]
c = 0
for i in l :
    c = c+i
print(c)

12

In [48]:
l =[1,2,3,4,6,7,2]
c = 0 
for i in l :
    c = c+i
print(c)

25

In [56]:
l = [23,24,4,4,5]
c = 0
for  i in l:
    c = c+i
print(c)

60

In [60]:
l = [23,23,3,3,4]
c=0
for i in l :
    c= c+i
print(c)

56

In [47]:
l = [1,2,3,4,5]
c = 0
for i in l :
    c = c+i
print(c)

15

In [2]:
l = [24,34,35125,1351,]
c = 0
for i in l :
    c = c +i
print(c)

36534

In [3]:
l = [24,24,3,4,24,4]
c = 0 
for i in l :
    c = c+i
print(c)

83

In [6]:
l =[25,1325,3,3,44,234]
c = 0 
for i in l:
    c=c+i
print(c)

1634

In [8]:
l = [100000000,204240]
c = 0 
for i in l:
    c=c+i
print(c)

100204240

In [9]:
l = [3342,32,4,24]
c = 0
for i in l :
    c=c+i
print(c)

3402

In [10]:
l = [34,43,243,]
c= 0 
for i in l:
    c=c+i
print(c)

320

In [ ]:
for loops in string

In [14]:
s = "sumit"
for i in s :
    print(i,end = "")

sumit

In [15]:
t = "tiger"
for i in t :
    print(i,end = "")

tiger

In [49]:
s = "madrid"
for i in s :
    print(i,end = "")

madrid

In [ ]:
wap to find vowels and consonants in a given string :
    s = "the cat is eating and the dog is sleeping on the coach"

In [17]:
s = "the cat is eating and the dog is sleeping on the coach"
for i in s :
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" :
        print(i, "is vowels")
    elif i!=" " :
        print(i,"is consonant")

t is consonant
h is consonant
e is vowels
c is consonant
a is vowels
t is consonant
i is vowels
s is consonant
e is vowels
a is vowels
t is consonant
i is vowels
n is consonant
g is consonant
a is vowels
n is consonant
d is consonant
t is consonant
h is consonant
e is vowels
d is consonant
o is vowels
g is consonant
i is vowels
s is consonant
s is consonant
l is consonant
e is vowels
e is vowels
p is consonant
i is vowels
n is consonant
g is consonant
o is vowels
n is consonant
t is consonant
h is consonant
e is vowels
c is consonant
o is vowels
a is vowels
c is consonant
h is consonant

In [18]:
s = "the cat is eating and the dog is sleeping on the coach"
for i in s :
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" :
        print(i,"is vowels")
    elif i!=" ":
        print(i,"is consonant")

t is consonant
h is consonant
e is vowels
c is consonant
a is vowels
t is consonant
i is vowels
s is consonant
e is vowels
a is vowels
t is consonant
i is vowels
n is consonant
g is consonant
a is vowels
n is consonant
d is consonant
t is consonant
h is consonant
e is vowels
d is consonant
o is vowels
g is consonant
i is vowels
s is consonant
s is consonant
l is consonant
e is vowels
e is vowels
p is consonant
i is vowels
n is consonant
g is consonant
o is vowels
n is consonant
t is consonant
h is consonant
e is vowels
c is consonant
o is vowels
a is vowels
c is consonant
h is consonant

In [72]:
s = "the cat is eating and the dog is sleeping on the coach"
for i in s :
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        print(i, "is vowel")
    elif i!=" ":
        print(i,"is consonant")

t is consonant
h is consonant
e is vowel
c is consonant
a is vowel
t is consonant
i is vowel
s is consonant
e is vowel
a is vowel
t is consonant
i is vowel
n is consonant
g is consonant
a is vowel
n is consonant
d is consonant
t is consonant
h is consonant
e is vowel
d is consonant
o is vowel
g is consonant
i is vowel
s is consonant
s is consonant
l is consonant
e is vowel
e is vowel
p is consonant
i is vowel
n is consonant
g is consonant
o is vowel
n is consonant
t is consonant
h is consonant
e is vowel
c is consonant
o is vowel
a is vowel
c is consonant
h is consonant

In [ ]:
wap to count the number of vowelas and no of consolent

In [8]:
s =  "the cat is "
c = 0
for i in s :
    print(c)
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        print(i, "is vowel")
    elif i!=" ":
        print(i,"is consonant")

0
t is consonant
0
h is consonant
0
e is vowel
0
0
c is consonant
0
a is vowel
0
t is consonant
0
0
i is vowel
0
s is consonant
0

In [18]:
l = [1,2,3,4,5]
c = 0
for i in l :
    c = c+i
print(c)

15

In [19]:
s =  "the cat is eating and the dog is sleeping on the coach"
for i in s :
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        print(i, "is vowel")
        
    elif i!=" ":
        print(i,"is consonant")

t is consonant
h is consonant
e is vowel
c is consonant
a is vowel
t is consonant
i is vowel
s is consonant
e is vowel
a is vowel
t is consonant
i is vowel
n is consonant
g is consonant
a is vowel
n is consonant
d is consonant
t is consonant
h is consonant
e is vowel
d is consonant
o is vowel
g is consonant
i is vowel
s is consonant
s is consonant
l is consonant
e is vowel
e is vowel
p is consonant
i is vowel
n is consonant
g is consonant
o is vowel
n is consonant
t is consonant
h is consonant
e is vowel
c is consonant
o is vowel
a is vowel
c is consonant
h is consonant

In [85]:
s = "ndkqonfckpkesn"
v,c= 0,0
for i in s :
    if i in "aeiou":
         v = v+1
         #print(i,"is vowel")
    else:
            c =c+1
            #print("consonant")
print(v,c)

2 12

In [ ]:
wap to find a number is prime number or composite :

In [ ]:
n = int(input("enter the nuber :"))
c = 0 
for i in range()

In [1]:
# prime or composite no :
n = int(input("enter the number : "))
c=0
for i in range(1,n+1):
    if n%i==0:
        print(i,"is factor of : ",n)
        c=c+1
if c==2:
    print(n,"is prime")
else:
    print(n,"is composite")

enter the number : 4
1 is factor of :  4
2 is factor of :  4
4 is factor of :  4
4 is composite

In [62]:
n = int(input("enter the number :"))
c= 0 
for i in range(1,n+1):
    if n%i==0:
        print(i,"is factor of :",n)
        c=c+1
        if c==2:
            print(n,"is prime")
        else:
            print(n,"is composite")

enter the number :5
1 is factor of : 5
5 is composite
5 is factor of : 5
5 is prime

In [65]:
n = int(input("enter the number :"))
c=0
for i in range(1,n+1):
    if n%i==0:
        print(i,"is factor of :",n)
        c=c+1
        if c==2:
            print(n,"is prime")
        else:
            print(n,"is composite")

enter the number :12
1 is factor of : 12
12 is composite
2 is factor of : 12
12 is prime
3 is factor of : 12
12 is composite
4 is factor of : 12
12 is composite
6 is factor of : 12
12 is composite
12 is factor of : 12
12 is composite

In [66]:
n = int(input("enter the number :"))
c=0
for i in range(1,n+1):
    if n%i==0:
        print(i,"is factor of :",n)
        c=c+1
        if c==2:
            print(n,"is prime")
        else:
            print(n,"is composite")

enter the number :4
1 is factor of : 4
4 is composite
2 is factor of : 4
4 is prime
4 is factor of : 4
4 is composite