In [139]:
import numpy as np
import pandas as pd

In [140]:
df = pd.read_csv("C:\\Users\\GOURAV NEGI\\Downloads\\D3.csv")
df

     Outlook Humidity   Windy Play
0      Sunny     High    Weak   No
1      Sunny     High  Strong   No
2   Overcast     High    Weak  Yes
3      Rainy     High    Weak  Yes
4      Rainy   Normal    Weak  Yes
5      Rainy   Normal  Strong   No
6   Overcast   Normal    Weak  Yes
7      Sunny     High    Weak   No
8      Sunny   Normal    Weak  Yes
9      Rainy   Normal    Weak  Yes
10  Overcast     High  Strong  Yes
11  Overcast   Normal    Weak  Yes
12     Rainy     High  Strong   No

In [141]:
x = df.loc[0:,('Outlook','Humidity','Windy')]
x

     Outlook Humidity   Windy
0      Sunny     High    Weak
1      Sunny     High  Strong
2   Overcast     High    Weak
3      Rainy     High    Weak
4      Rainy   Normal    Weak
5      Rainy   Normal  Strong
6   Overcast   Normal    Weak
7      Sunny     High    Weak
8      Sunny   Normal    Weak
9      Rainy   Normal    Weak
10  Overcast     High  Strong
11  Overcast   Normal    Weak
12     Rainy     High  Strong

In [142]:
y = df.loc[0:,'Play']
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12     No
Name: Play, dtype: object

In [143]:
from sklearn.model_selection import train_test_split
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [166]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
lb

LabelEncoder()

In [167]:
x = ['Outlook', 'Humidity', 'Windy', 'Play']


z = df[x].apply(LabelEncoder().fit_transform)


z.head()

   Outlook  Humidity  Windy  Play
0        2         0      1     0
1        2         0      0     0
2        0         0      1     1
3        1         0      1     1
4        1         1      1     1

In [168]:
y = df.iloc[0:,3]
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    0
Name: Play, dtype: int32

In [169]:
#x['outlook_n'] = s.fit_transform(x['Outlook'])
#x['humidity_n'] = s.fit_transform(x['Humidity'])
#x['windy_n'] = s.fit_transform(x['Windy'])
#x

In [170]:
#z=x.drop(['Outlook','Humidity','Windy'],axis=1)
#z

In [171]:
z_train, z_test, y_train, y_test = train_test_split(z,y,test_size=0.2)

In [172]:
z_train

    Outlook  Humidity  Windy  Play
6         0         1      1     1
0         2         0      1     0
11        0         1      1     1
4         1         1      1     1
1         2         0      0     0
5         1         1      0     0
8         2         1      1     1
12        1         0      0     0
3         1         0      1     1
2         0         0      1     1

In [173]:
z_test.shape

(3, 4)

In [174]:
model.fit(z,y)

DecisionTreeClassifier()

In [175]:
model.score(z,y)

1.0

In [177]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
z_train = sc.fit_transform(z_train)
z_test = sc.transform(z_test)

In [179]:
from sklearn.svm import SVC

In [182]:
classifier_linear = SVC(kernel = 'linear',random_state=0)
classifier_linear.fit(z_train,y_train)

SVC(kernel='linear', random_state=0)

In [184]:
y_pred_linear = classifier_linear.predict(z_test)
y_pred_linear

array([1, 1, 0])

In [185]:
from sklearn.metrics import confusion_matrix

In [186]:
cm_linear = confusion_matrix(y_test,y_pred_linear)
cm_linear

array([[1, 0],
       [0, 2]], dtype=int64)

In [187]:
from sklearn.metrics import classification_report

In [189]:
linear_report = classification_report(y_test,y_pred_linear)
print(linear_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         2

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3