In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df  = pd.read_csv("C:\\Users\\GOURAV NEGI\\Downloads\\archive (5)\\GamingCompanies-Main.csv")
df

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
0,11 bit studios,2.600171e+08,8147710,192,4583.070,40.888100,1.777785e+07,Poland
1,Activision Blizzard,5.835960e+10,2972000000,9500,3582.020,23.471700,8.297000e+09,United States
2,Appirits,3.008261e+07,1591300,411,372.253,31.000000,4.274776e+07,Japan
3,Aristocrat,1.551363e+10,778411000,7000,2266.820,14.297000,3.433941e+09,Australia
4,ATARI,4.923000e+07,-13476800,26,-6296.300,-3.000000,2.140430e+07,France
...,...,...,...,...,...,...,...,...
74,Unity Software,9.993398e+09,-590918000,4934,-4941.280,-16.076200,1.195880e+09,United States
75,Versus Systems,1.169109e+07,-11545800,0,-153192.000,-0.823529,7.536780e+05,Canada
76,Webzen,5.007477e+08,0,0,0.000,0.000000,0.000000e+00,South Korea
77,Wemade,8.686795e+08,0,0,0.000,0.000000,0.000000e+00,South Korea
78,WonderPlanet,3.043914e+07,-1386590,0,-498.975,4.037680,2.778869e+07,Japan

In [5]:
df.head()

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
0,11 bit studios,2.600171e+08,8147710,192,4583.070,40.8881,1.777785e+07,Poland
1,Activision Blizzard,5.835960e+10,2972000000,9500,3582.020,23.4717,8.297000e+09,United States
2,Appirits,3.008261e+07,1591300,411,372.253,31.0000,4.274776e+07,Japan
3,Aristocrat,1.551363e+10,778411000,7000,2266.820,14.2970,3.433941e+09,Australia
4,ATARI,4.923000e+07,-13476800,26,-6296.300,-3.0000,2.140430e+07,France

In [6]:
df.tail()

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
74,Unity Software,9.993398e+09,-590918000,4934,-4941.280,-16.076200,1.195880e+09,United States
75,Versus Systems,1.169109e+07,-11545800,0,-153192.000,-0.823529,7.536780e+05,Canada
76,Webzen,5.007477e+08,0,0,0.000,0.000000,0.000000e+00,South Korea
77,Wemade,8.686795e+08,0,0,0.000,0.000000,0.000000e+00,South Korea
78,WonderPlanet,3.043914e+07,-1386590,0,-498.975,4.037680,2.778869e+07,Japan

In [8]:
df.isnull()

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
74,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False
78,False,False,False,False,False,False,False,False

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             79 non-null     object
 1   marketcap        79 non-null     float64
 2   earnings         79 non-null     int64
 3   employeeCount    79 non-null     int64
 4   OperatingMargin  78 non-null     float64
 5   PERatio          79 non-null     float64
 6   Revenue          79 non-null     float64
 7   country          79 non-null     object
dtypes: float64(4), int64(2), object(2)
memory usage: 5.1+ KB

In [25]:
df.iloc[[]]

Empty DataFrame
Columns: [Name, marketcap, earnings, employeeCount, OperatingMargin, PERatio, Revenue, country]
Index: []

In [28]:
df.nunique()

Name               79
marketcap          79
earnings           75
employeeCount      61
OperatingMargin    75
PERatio            75
Revenue            75
country            18
dtype: int64

In [32]:
df.isnull().sum()

Name               0
marketcap          0
earnings           0
employeeCount      0
OperatingMargin    1
PERatio            0
Revenue            0
country            0
dtype: int64

In [38]:
df.head()

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
0,11 bit studios,2.600171e+08,8147710,192,4583.070,40.8881,1.777785e+07,Poland
1,Activision Blizzard,5.835960e+10,2972000000,9500,3582.020,23.4717,8.297000e+09,United States
2,Appirits,3.008261e+07,1591300,411,372.253,31.0000,4.274776e+07,Japan
3,Aristocrat,1.551363e+10,778411000,7000,2266.820,14.2970,3.433941e+09,Australia
4,ATARI,4.923000e+07,-13476800,26,-6296.300,-3.0000,2.140430e+07,France

In [48]:
df.shape

(79, 8)

In [49]:
df["earnings"].mean()

1984251123.9240506

In [50]:
df["earnings"].mode()

0    0
dtype: int64

In [51]:
df["earnings"].max()

84754000000

In [54]:
df["earnings"].median()

41661100.0

In [60]:
df["Name"].value_counts()

11 bit studios            1
Pearl Abyss               1
Razer                     1
PlayWay                   1
Playtika                  1
                         ..
GameStop                  1
Frontier Developments     1
Focus Home Interactive    1
Entain                    1
WonderPlanet              1
Name: Name, Length: 79, dtype: int64

In [61]:
df["Revenue"].value_counts()

0.000000e+00    5
1.777785e+07    1
1.749410e+08    1
5.906182e+07    1
2.621000e+09    1
               ..
6.010700e+09    1
1.224140e+08    1
1.936535e+08    1
5.169877e+09    1
2.778869e+07    1
Name: Revenue, Length: 75, dtype: int64

In [62]:
df["country"].value_counts()

Japan             24
United States     14
South Korea        9
Poland             6
China              6
France             4
Sweden             3
United Kingdom     2
Isle of Man        2
Italy              1
Australia          1
Ireland            1
India              1
Cyprus             1
Israel             1
Finland            1
Singapore          1
Canada             1
Name: country, dtype: int64

In [64]:
df["earnings"].value_counts()

 0            5
 8147710      1
 47011200     1
 39553600     1
 547100000    1
             ..
-368500000    1
 26883400     1
 22909400     1
 634828000    1
-1386590      1
Name: earnings, Length: 75, dtype: int64

In [65]:
df["employeeCount"].value_counts()

0       17
7000     2
281      2
192      1
6574     1
        ..
357      1
279      1
1543     1
866      1
4934     1
Name: employeeCount, Length: 61, dtype: int64

In [67]:
df["employeeCount"].value_counts()/df["employeeCount"].count()*100

0       21.518987
7000     2.531646
281      2.531646
192      1.265823
6574     1.265823
          ...
357      1.265823
279      1.265823
1543     1.265823
866      1.265823
4934     1.265823
Name: employeeCount, Length: 61, dtype: float64

In [68]:
df.head(2)

,Name,marketcap,earnings,employeeCount,OperatingMargin,PERatio,Revenue,country
0,11 bit studios,2.600171e+08,8147710,192,4583.07,40.8881,1.777785e+07,Poland
1,Activision Blizzard,5.835960e+10,2972000000,9500,3582.02,23.4717,8.297000e+09,United States

In [69]:
df["country"].value_counts()/df["country"].count()*100

Japan             30.379747
United States     17.721519
South Korea       11.392405
Poland             7.594937
China              7.594937
France             5.063291
Sweden             3.797468
United Kingdom     2.531646
Isle of Man        2.531646
Italy              1.265823
Australia          1.265823
Ireland            1.265823
India              1.265823
Cyprus             1.265823
Israel             1.265823
Finland            1.265823
Singapore          1.265823
Canada             1.265823
Name: country, dtype: float64

In [70]:
df["Name"].value_counts()/df["Name"].count()*100

11 bit studios            1.265823
Pearl Abyss               1.265823
Razer                     1.265823
PlayWay                   1.265823
Playtika                  1.265823
                            ...
GameStop                  1.265823
Frontier Developments     1.265823
Focus Home Interactive    1.265823
Entain                    1.265823
WonderPlanet              1.265823
Name: Name, Length: 79, dtype: float64