# Sets

What is Sets?

- Sets are unordered.
- Set elements are unique. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an immutable type.
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [2]:
myset = set(["a", "b", "c"])     # creating a set with set() function
print(myset)
print(type(myset))

{'a', 'c', 'b'}
<class 'set'>

In [7]:
y=[1,3,1,5,2,6,2,6,2,7,3,7,2,6,32,6,3,3]
print(y)
l=set(y)
print(l)

[1, 3, 1, 5, 2, 6, 2, 6, 2, 7, 3, 7, 2, 6, 32, 6, 3, 3]
{32, 1, 2, 3, 5, 6, 7}

In [3]:
x={1,2,5,2,5,2,4}
print(type(x))

<class 'set'>

In [6]:
q=set([1,2,3,4,5,6,7,8,9])
print(q)
s=set([1,2,3,4,5,6,7,8,9])
print(s)
d=set([93,82,72,6,2,6234552,6,2])
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 6, 72, 82, 6234552, 93}

In [8]:
a={}
print(type(a))

<class 'dict'>

In [10]:
z=set()
print(type(z),z)

<class 'set'> set()

In [8]:
s={1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3}
print(s)
print(type(s))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [38]:
x=[1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3]
L=[]
for i in x:
    if i not in L:
        L.append(i)
        
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 0, 9]

In [43]:
x=[1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3]
print(list(set(x)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Set Functions

- Adding elements :-
- Insertion in set is done through set.add() function.

In [3]:
print(myset)

{'a', 'c', 'b'}

In [4]:
myset.add("d")   # Adding element to the set with add()
print(myset)

{'a', 'c', 'b', 'd'}

In [5]:
myset.add("A")   # Adding element to the set with add()
print(myset)

{'c', 'a', 'A', 'd', 'b'}

In [6]:
myset.add('e')
print(myset)

{'c', 'a', 'A', 'd', 'b', 'e'}

In [7]:
print(myset)

{'c', 'a', 'A', 'd', 'b', 'e'}

In [8]:
# Creating a Set
fruits = {"apple", "mango", "grapes"}
 
print(fruits)

{'grapes', 'apple', 'mango'}

In [9]:
# This will add  in the set
fruits.add("orange")

print(fruits)

{'orange', 'grapes', 'apple', 'mango'}

In [10]:
# Adding elements to the set using iterator
for i in range(1, 6):
    fruits.add(i)

print(fruits)

{1, 2, 3, 4, 5, 'mango', 'grapes', 'apple', 'orange'}

- Union :-

Two sets can be merged using union() function or | operator.

In [12]:
fruits = {"apple", "mango", "grapes"}
vegetables={'potato','onion','carrot'}
dishes={'pizza','burger'}

In [13]:
# Union using union() function
all_items=fruits.union(vegetables)
print(all_items)

{'carrot', 'grapes', 'apple', 'onion', 'potato', 'mango'}

In [14]:
# Union using "|" operator
all_items=fruits|dishes
print(all_items)

{'grapes', 'apple', 'burger', 'pizza', 'mango'}

In [22]:
x=set({})
type(x)
print(x)

set()

In [15]:
s1={}
print(type(s1))

<class 'dict'>

In [17]:
# creation of empty set
SET1=set()
SET2=set()
print(SET1)
print(SET2)

set()
set()

In [27]:
print(type(SET1))

<class 'set'>

In [28]:
print(SET1)

set()

In [18]:
for i in range(5):
    SET1.add(i)
print(SET1)

{0, 1, 2, 3, 4}

In [19]:
for i in range(3,7):
    SET2.add(i)
print(SET2)

{3, 4, 5, 6}

- Intersection :-

This can be done through intersection() or & operator. Common Elements are selected.

In [20]:
# Intersection using intersection() function
SET3 = SET2.intersection(SET1)
print(SET3)

{3, 4}

In [21]:
# Intersection using "&" operator
# & ambersant
SET3 = SET1 & SET2
print(SET3)

{3, 4}

- Difference :-

To find difference in between sets. Similar to find difference in linked list. This is done through difference() or â€“ operator.

In [22]:
print(SET1)
print(SET2)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}

In [23]:
# Difference of two sets using difference() function
SET3 = SET1.difference(SET2)
# it returns elements that are in set 1 but not in set 2
print(SET3)

{0, 1, 2}

In [24]:
# Difference of two sets using '-' operator
SET3 = SET2 - SET1
print(SET3)

{5, 6}

- Clearing sets :-

Clear() method empties the whole set.

In [39]:
set1 = {1,2,3,4,5,6}
SeT=set1
print(set1)
 
# # This method will remove all the elements of the set
set1.clear()
 
print(set1)
print(SeT)

{1, 2, 3, 4, 5, 6}
set()
set()

In [30]:
abc={1,2,5,2,5,2,4}
abc.clear()
print(abc)

set()

In [31]:
print(SeT)

set()

In [24]:
A = {'a', 'b', 'c', 'd'}

In [25]:
print(A)

{'a', 'c', 'b', 'd'}

In [26]:
# pop it removes the item in set randomly

removed_item = A.pop()
print(removed_item)
print(A)

a
{'c', 'b', 'd'}

In [28]:
# subset
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
# print(A.issubset(B))
print(B.issubset(A))

False

In [30]:
A={1,2,3,4,5}
B={5,6,7,8,9,10,11}
print(A.isdisjoint(B))

False

In [17]:
for i in range(1000,3001):
    a=str(i)
    if int(a[0])%2==0 and int(a[1])%2==0 and int(a[2])%2==0 and int(a[3])%2==0:
        print(a)

2000
2002
2004
2006
2008
2020
2022
2024
2026
2028
2040
2042
2044
2046
2048
2060
2062
2064
2066
2068
2080
2082
2084
2086
2088
2200
2202
2204
2206
2208
2220
2222
2224
2226
2228
2240
2242
2244
2246
2248
2260
2262
2264
2266
2268
2280
2282
2284
2286
2288
2400
2402
2404
2406
2408
2420
2422
2424
2426
2428
2440
2442
2444
2446
2448
2460
2462
2464
2466
2468
2480
2482
2484
2486
2488
2600
2602
2604
2606
2608
2620
2622
2624
2626
2628
2640
2642
2644
2646
2648
2660
2662
2664
2666
2668
2680
2682
2684
2686
2688
2800
2802
2804
2806
2808
2820
2822
2824
2826
2828
2840
2842
2844
2846
2848
2860
2862
2864
2866
2868
2880
2882
2884
2886
2888

In [20]:
101%2

1

In [2]:
# anagram
# silent
# listn
a=input('enter a')
b=input('enter')
c=''
d=''
for i in a:
    if i.isupper():
        i=i.lower()
        c+=i
    else:
        c+=i

for j in b:
    if j.isupper():
        j=j.lower()
        d+=j
    else:
        d+=j
        
        

if len(c)==len(d):
    for i in c:
        if i in d:
            for k in d:
                if k in c:
                    print('anagram')
                    break
                else:
                    print('not anagram')
        else:
            print('not anagram' )
            
else:
    print('not anagram')

enter asilent
enterlistan
anagram
anagram
anagram
not anagram
anagram
anagram

In [76]:
a=set()
m=set()
l=set()
n=input("Enter 1st string")
b=input("Enter 2nd string")
for i in range(0,len(n)):
    a.add(n[i])
#     k+=1
for z in range(0,len(b)):
    m.add(b[z])
#     t+=1
print(m)
print(a)
l=a-m
print(l)
if(l==set()):
    print("string is equal")
else:
    print("string is not equal")

Enter 1st stringSilant
Enter 2nd stringlisten
{'l', 'e', 's', 'n', 'i', 't'}
{'S', 'a', 'l', 'n', 'i', 't'}
{'S', 'a'}
string is not equal

In [ ]:
5
85
45
56
65
46

In [68]:
N=int(input())
t=''
for i in range(1,N+1):
    n=int(input('enter n'))
    t=t+str(n)[-1]
if int(t)%10==0:
    print('yes')
else:
    print('No')

5
enter n85
enter n45
enter n15
enter n25
enter n35
No

In [74]:
x='249374'
y=int(x[0])
z=y%10
print(z)

2

In [75]:
2%10

2

In [70]:
print(type(x))

<class 'int'>

In [3]:
a=set()
print(type(a))

<class 'set'>

In [4]:
a.add('apple')

In [5]:
print(a)

{'apple'}

In [53]:
for i in range(1000,3001):
    a=str(i)
    if int(a[0])%2==0 and int(a[1])%2==0 and int(a[2])%2==0 and int(a[3])%2==0:
        print(a,end=',')
    else:
        pass

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

87

In [47]:
L=[1,1,2,1,2,4,2,4,3,6,2,5,2]
print(list(set(L)))

[1, 2, 3, 4, 5, 6]

In [ ]:
l=[1,2,3,4,5,6]

In [83]:
for i in range(1000,3001):
    a=str(i)
    if int(a[0])%2==0 and int(a[1])%2==0 and int(a[2])%2==0 and int(a[3])%2==0:
        print(int(a))

2000
2002
2004
2006
2008
2020
2022
2024
2026
2028
2040
2042
2044
2046
2048
2060
2062
2064
2066
2068
2080
2082
2084
2086
2088
2200
2202
2204
2206
2208
2220
2222
2224
2226
2228
2240
2242
2244
2246
2248
2260
2262
2264
2266
2268
2280
2282
2284
2286
2288
2400
2402
2404
2406
2408
2420
2422
2424
2426
2428
2440
2442
2444
2446
2448
2460
2462
2464
2466
2468
2480
2482
2484
2486
2488
2600
2602
2604
2606
2608
2620
2622
2624
2626
2628
2640
2642
2644
2646
2648
2660
2662
2664
2666
2668
2680
2682
2684
2686
2688
2800
2802
2804
2806
2808
2820
2822
2824
2826
2828
2840
2842
2844
2846
2848
2860
2862
2864
2866
2868
2880
2882
2884
2886
2888

In [81]:
np.random.randint(1,100)

44

In [97]:
D='madamm'

In [98]:
{'M':2,'a':2,'d':1}

{'M': 2, 'a': 2, 'd': 1}

In [99]:
x={i:D.count(i) for i in D }
print(x)

{'m': 3, 'a': 2, 'd': 1}

In [100]:
Y={}
for i in D:
    Y[i]=D.count(i)
print(Y)

{'m': 3, 'a': 2, 'd': 1}

In [106]:
# 6 input
# 85
# 86
# 32
# 21
# 50

# 56210 %10
s=''
n=int(input('enter n '))
for i in range(n):
    a=int(input('enter a '))
#     a=str(a)

    d=a%10
    s=s+str(d)
    
print(s)
if int(s)%10==

enter n 5
enter a 22
enter a 27
enter a 65
enter a 99
enter a 11
27591

In [ ]:
n=[22,31,43,94,75,11]
k=[22,31,43]
m=[24,25,26]
234456

In [ ]:
# You are provided an list A of size N that contains non-negative integers. 
# Your task is to determine 
# whether the number that is formed by selecting the last digit of all the N numbers is divisible by 10
# Input format
# First line: A single integer N  denoting the size of array A
# Second line: N space-separated integers.
# Output format
# If the number is divisible by 10, then print Yes. Otherwise, print No.
# Sample Input
# 85 25 65 21 84
# Sample Output
# No
# Explanation
# Last digit 85 of  is 5 .
# Last digit of 25  is 5 .
# Last digit of 65 is 5 .
# Last digit of 21  is 1.
# Last digit of 84 is 4.
# Therefore the number formed is 55514 which is not divisible by 10 .

In [41]:
x=input().split(' ')
print(x)

85 25 65 21 84
['85', '25', '65', '21', '84']

In [ ]:
['85', '25', '65', '21', '84','55']

In [ ]:
# You are given an array A  of size N  that contains integers. Here,  is an even number. 
# You are required to perform the following operations:

# Divide the array of numbers in two equal halves
# Note: Here, two equal parts of a test case are created by dividing the array into two equal parts.
# Take the first digit of the numbers that are available in the first half of the array (first 50% of the test case)
# Take the last digit of the numbers that are available in the second half of the array (second 50% of the test case)
# Generate a number by using the digits that have been selected in the above steps
# Your task is to determine whether the newly-generated number is divisible by 11.

# Input format
# First line: A single integer N denoting the size of array A 
# Second line: N space-separated integers denoting the elements of array A 
# Output format
# If the newly-generated number is divisible by 11 , then print OUI . Otherwise, print NON .