In [ ]:
# Data Types
1.Immutable- Numeric, string, tuples # that can't change
2.Mutable- List, Dict, sets # that cane be change

In [ ]:
# String- Anything that i write in quotation

In [2]:
'abcgd'
'AbchfdS'
'12345678'
'!@#$%^&agvdjfbcRYDTUFYGKYFULKG            2345678(*&^%R)'

'!@#$%^&agvdjfbcRYDTUFYGKYFULKG            2345678(*&^%R)'

In [3]:
a='hiii'
b="hello"
print(a)
print(b)

hiii
hello

In [5]:
# Multiline string
z='''hii 
            i 
                am
                     deepanshu
    verma
'''
print(z)

hii
            i
                am
                     deepanshu
    verma

In [6]:
x=""" hello
                                                      dued
                                                      jcegyxsiu
                                            cebuecbec
"""

In [7]:

print(x)

 hello
                                                      dued
                                                      jcegyxsiu
                                            cebuecbec

In [28]:
f='deepanshu'
l='verma'
full_name=(f+' '+l+' ') # concatenation
print(full_name)

deepanshu verma

In [30]:
two_times=full_name*10
print(two_times)

deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma

In [34]:
name='deepanshu'
print(len(name))

9

# Indexing

In [38]:
name='deepanshu@123'
# print(name[6])
# print(name[1])
# print(name[20])
# print(name[-1])
# print(name[-4])
print(name[-30])

IndexError: string index out of range

# slicing

In [60]:

# print(name[2:5])
# print(name[9:10])
# print(name[0:])
# print(name[:7])
# print(name[:])
# print(name[:100000000000])
# print(name[1000000000:])
# print(name[-5])
# print(name[-13])
# print(name[:-1])
# print(name[9:11])
# print(name[-6:-2])
# print(name[-5:2])
# print(name[10000:20000])
# print(name[0:10:2])

deasu

In [63]:
name='deepanshu @123'
print(name[0::5])
print(name[::5])
print(name[::1])
print(name[-13:])

dn@
dn@
deepanshu @123

# string functions

In [1]:
x='abcgdegf'
print(len(x))

8

In [6]:
a='a quick brown fox jumps over the lazy dog'
print(a.index('f'))
print(a.find('f'))
print(a.count('o'))
print(a.replace('fox','cat'))
print(a.replace('mps',''))

14
14
4
a quick brown cat jumps over the lazy dog
a quick brown fox ju over the lazy dog

In [25]:
s1='deepanshu Verma'
s2='DEEPANSHU'
s3='Deepanshu'
s4='123456789'
s5='deepanshu12345'
s6='        '
s7='deeepANSHU    123456#$%^&'

print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())
print(s4.isdigit())
print(s5.isdigit())
print(s5.isalnum())
print(s4.isnumeric())
print(s7.isalnum())
print(s6.isspace())
print(s7.isspace())
print(s3.istitle())

False
True
False
False
True
False
True
True
False
True
False
True

In [70]:
s='abc@123.com^&*'
c=0
for i in s:
    if i.isalnum():
        continue
    
    c+=1
print(c)

5

In [ ]:
s1='silent'
s3='listen'

In [12]:
s = 'banana'
if s==s[::-1]:
    print('palindron')
else:
    print('not palindron')

not palindron

In [75]:
s='naman'
if s==s[::-1]:
    print('pallindrome')
else:
    print('not pallindrome')

pallindrome

In [83]:
b='[aman hii]'
#aman hii
L=[]
#['aman','hii']
s=''
for i in b:
    
    if i.isalpha():
        s=s+i
        
print(s) 
#     else:
#         pass
#     L.append(s)
#     s=''
# print(L)

amanhii

In [30]:
s1='deepanshu verma'
s2='DEEPANSHU'
s3='Deepanshu'
s4='123456789'
s5='deepanshu12345'
s6='        '
s7='deeepANSHU    123456#$%^&'


print(s1.upper())
print(s2.lower())
print(s1.title())
print(s1.capitalize())
print()

DEEPANSHU VERMA
deepanshu
Deepanshu Verma
Deepanshu verma

In [46]:
z='a qucik brown fox jumps over the lazy doga'
print(z.split(' '))
print(z.split(' fox '))
print(z.strip('a'))
print(z.lstrip('a'))
print(z.rstrip('a'))
print(z.startswith('a'))
print(z.endswith('doga'))

['a', 'qucik', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'doga']
['a qucik brown', 'jumps over the lazy doga']
 qucik brown fox jumps over the lazy dog
 qucik brown fox jumps over the lazy doga
a qucik brown fox jumps over the lazy dog
True
True

In [48]:
s='deepabnshu Verm G JHVVKSBJKDGUILksbudcjbJLVYIDf'
print(s.swapcase())

DEEPABNSHU vERM g jhvvksbjkdguilKSBUDCJBjlvyidF

In [62]:
f='deepanshu'
l='verma'
print('My first name is',f,'and my last name is ',l)
print(f'My first name is {f} and my last name is {l}')
print('My first name is {1} and my last name is {0} '.format(f,l))

My first name is deepanshu and my last name is  verma
My first name is deepanshu and my last name is verma
My first name is verma and my last name is deepanshu

In [63]:
age=int(input('enter age'))
print(f'my age in months is {age*12}')
second=age*364*24*60*60
print('My age in seconds is {}'.format(second))

enter age45
my age in months is 540
My age in seconds is 1415232000

In [66]:
s='naman@123456%*^#&**%&*'

n 0
a 1
m 2
a 3
n 4